<p id="notice"><%= notice %></p>

<div class="container" style="margin-top: -20px; width: 95%; height: 90%;">
  <div class="panel">
    <div class="panel-body" style="background-color: #fafafa;">
		
		<h2 align="center"><%= @lesson.name %></h2>
		<div id="container-Slide">
			<div align="center" style="padding: 10px;">
	          <div class="container-Diapositivas">
	          	<h2><%= @lesson.name %></h2>
	          	<br>
	          	<p class="texto-Diapositivas"> <%= @lesson.description %> </p>
	          	<br>
	          	<p class="texto-Diapositivas">Trata sobre: <%= @lesson.category %> </p>
	          	<br>
	          	<p class="texto-Diapositivas">Creada el <%= @lesson.created_at.strftime("%F %T") %></p>
	          </div>

	        </div>	
		</div>
		<div id="paginacion">
			
		</div>
		
		<button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
  		<button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>

		<script>
		<% i = -1%>
		var slideIndex = -1;
		var  slides = 	<%= raw @slides.to_json %>;

		function plusDivs(n) {
			if(n == 1){
				if(slideIndex < slides.length){
					if(slideIndex < slides.length-1){
						slideIndex++;
						<% i += 1%>
						mostrarDiapositiva(slides[slideIndex]);	
					}			
				}
				
			}else{
				if(slideIndex > 0){
					slideIndex--;
					<% i -= 1%>
					mostrarDiapositiva(slides[slideIndex]);
				}
			}
			var actual = slideIndex+1;
			var total = slides.length-1;
			document.getElementById('paginacion').innerHTML = "<p align='center'>"+actual+"/"+slides.length+"</p>";
		}

		function mostrarDiapositiva(slide) {
		  var dataSlide = "";
		  if(slide.tipo == "tipo1"){
		    dataSlide = "<div align='center' style='padding: 10px;'> <div class='container-Diapositivas'><h2>"+slide.title+"</h2>  <p class='texto-Diapositivas'> "+slide.parrafo1+" </p> <br> <img class='img-responsive' src='<%= @slides[i].image1.url(:small) %>' alt=''> </div> </div>";
		  }else if(slide.tipo == "tipo2"){
		    dataSlide = "<div align='center' style='padding: 10px;'> <div class='container-Diapositivas'> <h2>"+slide.title+"</h2> <br> <div class='col-xs-6'> <p class='texto-Diapositivas'>"+slide.parrafo1+"</p> </div> <div class='col-xs-6'> <p class='texto-Diapositivas'>"+slide.parrafo2+" </p> </div> </div> </div>";
		  }else if(slide.tipo == "tipo3"){
		    dataSlide = "<div align='center' style='padding: 10px;'> <div class='container-Diapositivas'> <h2>"+slide.title+"</h2> <p class='texto-Diapositivas'> "+slide.parrafo1+" </p> <br> <div class='col-xs-6'> <img class='img-responsive' src='<%= @slides[i].image1.url(:small) %>' alt=''> </div> <div class='col-xs-6'> <img class='img-responsive' src='<%= @slides[i].image2.url(:small) %>' alt=''> </div> </div> </div>";
		  }else if(slide.tipo == "tipo4"){
		    dataSlide = "<div align='center' style='padding: 10px;'> <div class='container-Diapositivas'> <h2>"+slide.title+"</h2> <br> <div class='col-xs-6'> <p class='texto-Diapositivas'> "+slide.parrafo1+" </p> </div> <div class='col-xs-6'> <img class='img-responsive' width='350' height='350' src='<%= @slides[i].image1.url(:medium) %>' alt=''> </div> </div> </div>";
		  }else if(slide.tipo == "tipo5"){
		    dataSlide = "<div align='center' style='padding: 10px;'> <div class='container-Diapositivas'> <h2>"+slide.title+"</h2> <p class='texto-Diapositivas'> "+slide.parrafo1+" </p> <br> <p class='texto-Diapositivas'> "+slide.parrafo2+" </p> </div> </div>";
		  }
		  document.getElementById('container-Slide').innerHTML = dataSlide;
		}

		</script>

		<div class="col-sm-offset-2 col-sm-2">
        <a href="/lessons/category/all" style="display: none;" class="btn">Atras</a>
 		</div>
    </div>
  </div>
</div>

