<!DOCTYPE html>
<html>
  <head>
    <title>SalvemosVidas</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </head>
  <body>
    <nav class="navbar navbar-inverse" style="background-color:#3b6061;">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
          <%= link_to "SalvemosVidas", root_path,class:"navbar-brand",style:"font-size: 25px;font-family: 'Roboto';font-weight: 700; color:#FFFFFF;" %>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar ">
          <% if signed_in?%>
            <ul class="nav navbar-nav">
              <li class="<%= 'active' if params[:controller] == 'welcome' %> texto-navbar" ><a href="/"> <%= image_tag("lecciones.png", class:"img-circle image-navbar color-lecciones") %> Lecciones</a> </li>
              <li class="<%= 'active' if params[:controller] == 'welcome' %> texto-navbar" ><a href="/"> <%= image_tag("practica.png", class:"img-circle image-navbar color-practica") %> Practica</a> </li>
              <li class="<%= 'active' if params[:controller] == 'welcome' %> texto-navbar" ><a href="/"> <%= image_tag("foro.png", class:"img-circle image-navbar color-foro") %> Foro</a> </li>
            </ul>  
            <ul class="nav navbar-nav navbar-right">
              <li class=" dropdown"><a href="#" class="dropdown-toggle active texto-navbar" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" >Menú<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li class="texto-nav"><%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete %></li>
                </ul>               
              </li>
            </ul>

            <!-- Cuando no esta logueado -->
          <% else %>
            <ul class="nav navbar-nav">
              <li class="<%= 'active' if params[:controller] == 'welcome' %> texto-navbar" ><a href="/"> <%= image_tag("lecciones.png", class:"img-circle image-navbar color-lecciones") %> Lecciones</a> </li>
              <li class="<%= 'active' if params[:controller] == 'welcome' %> texto-navbar" ><a href="/"> <%= image_tag("practica.png", class:"img-circle image-navbar color-practica") %> Practica</a> </li>
              <li class="<%= 'active' if params[:controller] == 'welcome' %> texto-navbar" ><a href="/"> <%= image_tag("foro.png", class:"img-circle image-navbar color-foro") %> Foro</a> </li>
            </ul>  
            <ul class="nav navbar-nav navbar-right">
              <li class=" dropdown"><a href="#" class="dropdown-toggle active texto-navbar" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menú<span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li class="<%= 'active' if request.original_url == request.base_url+"/users/sign_in" %> texto-nav"><a href="/users/sign_in"><span class="glyphicon glyphicon-log-in"></span> Inicio de sesión</a></li>
                        <li class="<%= 'active' if request.original_url == request.base_url+"/users/sign_up" %> texto-nav"><a href="/users/sign_up"><span class="glyphicon glyphicon-user"></span> Registro</a></li>
                      </ul>
                    </li>
            </ul>
          <% end %>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <% flash.each do |type, msg| %>
          <% if type == "notice" %>
            <div class="alert alert-success">
          <% elsif type == "alert" %>
            <div class="alert alert-danger">
          <% else %>
            <div class='alert alert-<%= "#{type}" %>'>
          <% end %>
            <a href="#" class="close" data-dismiss="alert">&#215;</a>
          <ul>
            <li>
              <%= "Aviso: "+msg %>
            </li>
          </ul>
        <% end %>
      </div>
    </div>

    <%= yield %>

    
  </body>
</html>
