<%= form_with(model: [@forum_post, @commentary], remote: true) do |form| %>
  <% if @commentary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@commentary.errors.count, "error") %> prohibited this commentary from being saved:</h2>

      <ul>
      <% @commentary.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :"Deje su comentario:", class:"control-label col-sm-2"%>
    <div class="col-sm-10">
      <%= form.text_area :datail, class:"form-control", rows:5,placeholder:"Ingrese su comentario..." %>
    </div>
  </div>

  <div class="col-sm-offset-2 col-sm-10" style="margin-top: 10px;">
        <%= form.submit :Comentar, class:"btn" %>
  </div>

  <br>
<% end %>
