<p id="notice"><%= notice %></p>
<%= form_with(model: @slide, local: true) do |form| %>
  <% if slide.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(slide.errors.count, "error") %> prohibited this slide from being saved:</h2>

      <ul>
      <% slide.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :tipo %>
    <%= form.text_field :tipo %>
  </div>

  <div class="field">
    <%= form.label :parrafo1 %>
    <%= form.text_field :parrafo1 %>
  </div>

  <div class="field">
    <%= form.label :parrafo2 %>
    <%= form.text_field :parrafo2 %>
  </div>

  <div class="field">
    <%= form.label :parrafo3 %>
    <%= form.text_field :parrafo3 %>
  </div>

  <div class="field">
    <%= form.label :imagen1 %>
    <%= form.text_field :imagen1 %>
  </div>

  <div class="field">
    <%= form.label :imagen2 %>
    <%= form.text_field :imagen2 %>
  </div>

  <div class="field">
    <%= form.label :imagen3 %>
    <%= form.text_field :imagen3 %>
  </div>

  <div class="actions">
    <%= form.submit "Guardar",name: "boton"%>
  </div>

  <div class="actions">
    <%= form.submit "Terminar",name: "boton"%>
  </div>
<% end %>
