
<p>
  <strong>Title:</strong>
  <%= @forum_post.title %>
</p>

<p>
  <strong>Datail:</strong>
  <%= @forum_post.datail %>
</p>

<p>
  <strong>Category:</strong>
  <%= @forum_post.category %>
</p>

<p>
  <strong>User:</strong>
  <%= @forum_post.user.email %>
</p>

<div>
	<h3>Comentarios</h3>

	<%= render "commentaries/form" %>
	
	<p id="notice"><%= notice %></p>

	<ul>
		<% @forum_post.commentaries.each do |commentary| %>
			<li>
				<%= commentary.datail%> - <%= commentary.user.email %>
			</li>
		<% end %>
	</ul>
</div>

<%= link_to 'Edit', edit_forum_post_path(@forum_post) %> |
<%= link_to 'Back', forum_posts_path %>
