<div class="container" style="margin-top: -20px; width: 95%; height: 90%;">
  <div class="panel">
    <div class="panel-body" style="background-color: #fafafa;">

      <div style="background: #fff; width: 100%;padding-left: 10px; padding-top: 5px; padding-bottom: 10px;border-radius:5px;">
        
	      <h2><%= @forum_post.title %></h2>
	      <div align="center">
	        <div class="col-container-foro">
	          <div class="col-foro" style="width: 80%; padding-left: 10px;  padding-right: 10px;">
	            <p class="texto-descripcion"><%= @forum_post.datail %></p>
	          </div>
	          <div class="col-foro" style="width: 20%;">
	            <p><%= @forum_post.user.username %></p>
	            <p><%= @forum_post.created_at.strftime("%F %T") %></p>
	            <p><%= @forum_post.category %></p>
	          </div>
	        </div>
	      </div>
	      
	      <div>
			<h3>Comentarios:</h3>
			<hr>
			<div class="row">
				<%= render "commentaries/form" %>
			</div>
			<hr>
			
			<p id="notice"><%= notice %></p>

			<div style="margin-left: 15%;">
				<% @forum_post.commentaries.each do |commentary| %>

				<div class="caja-comentario" >
					<p><%= commentary.user.username %> - <%= commentary.created_at.strftime("%F %T") %></p>
					<p><%= commentary.datail%></p>
					<a href="">Responder</a>
				</div>

			<% end %>
			</div>
		</div>
      </div>

    </div>
  </div>
</div>
