<%= form_with(model: practice, local: true) do |form| %>
  <% if practice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(practice.errors.count, "error") %> prohibited this practice from being saved:</h2>

      <ul>
      <% practice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-horizontal">
    <div class="form-group">
      <%= form.label :Titulo, class:"control-label col-sm-2"%>
      <div class="col-sm-10">
        <%= form.text_field :title, class:"form-control",placeholder:"Ingrese el dato..." %>
      </div>
    </div>

    <div class="form-group">
      <%= form.label :Descripción, class:"control-label col-sm-2"%>
      <div class="col-sm-10">
        <%= form.text_area :description, class:"form-control", rows:5,placeholder:"Ingrese el dato..." %>
      </div>
    </div>

    <div class="form-group">
      <%= form.label :Categoria, class:"control-label col-sm-2"%>
      <div class="col-sm-10">
        <select class="form-control" name="practice[category]" id="practice_category">
            <option value="cortadas">cortadas</option>
            <option value="accidente_quimico">accidente_quimico</option>
            <option value="quemaduras">quemaduras</option>
            <option value="envenenamiento">envenenamiento</option>
            <option value="afectacion_sentido">afectacion_sentido</option>
            <option value="accidente">accidente</option>
            <option value="prevencion">prevencion</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <%= form.label :Lección, class:"control-label col-sm-2"%>
      <div class="col-sm-10">
        <%= form.text_field :lesson_id, class:"form-control",placeholder:"Ingrese el dato..." %>
      </div>
    </div>

    <div class="form-group">        
      <div class="col-sm-offset-2">
        <%= form.submit "Agregar Preguntas" , class:"btn"%>
      </div>
    </div>

  </div>

<% end %>
